.main-menu {
  display: flex;
  width: 320px;
  height: 88px;
  justify-content: center;
  align-items: center;
}


.burger, .repair, .checkstatus{
  width: 40px;
  height: 40px;
  padding: 10px;
}

.group{
  width: 96.55px;
  height: 50.81px;
  padding: 10px;
}

.featured-post{
  width: 320px;
  height: 322px;
}

main{
  width: 320px;
  background: #F8F8F8;
}

